@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(252, 248, 240);
}
html{
  scroll-behavior: smooth;
}

.foto-perfil{
  border-radius: 60px;
  border: solid 1px #283db7;
  box-shadow:2px 2px 2px #888888;
}

.skills{
  box-shadow:2px 2px 2px #888888;
}

.img-about{
  left: 70%;
  top: 45em;
}

/* cartas */
.overflow{
  height: 50%;
  overflow: hidden;
}

.overflow .card-img-top{
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.overflow .card-img-top:hover{
  transform: scale(1.8);
}